{% load func %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- css -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" property="" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// css -->
    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>
<body>

<!-- Header -->
<div class="header">
	<!-- Navbar -->
	<nav class="navbar navbar-default">
		<div class="container">

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="hover-effect"><a href="{% url 'app1:index' %}">主页</a></li>
					<li class="hover-effect"><a href="{% url 'app1:game' %}">小白入门</a></li>
					<li class="hover-effect"><a href="{% url 'app1:news' 0 %}">分类</a></li>
					<li class="hover-effect"><a href="{% url 'app1:contact' %}">联系我们</a></li>
				</ul>
			</div>

		</div>
	</nav>
	<!-- //Navbar -->
</div>



{% block body %}




{% endblock %}





<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-left-w3">
			<h4>联系我们</h4>
			<ul>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
				<li><a href="mailto:example@mail.com"><h6>ex@mail.com</h6></a></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
				<li><h6>+18045678834</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
				<li><h6>4th Avenue,London</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></li>
				<li><h6>(0033)6544 5453 644</h6></li>
			</ul>
		</div>
		<div class="col-md-5 footer-middle-w3">
			<h4>最新的游戏</h4>
			{% GetNewGames 4 as games%}
			{% for i in games %}
				<div class="col-md-3 img-w3-agile">
					<a href="{% url 'app1:single' i.id %}"><img src="/static/media/{{i.Img}}" alt=" " /></a>
				</div>
			{% endfor %}







			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 footer-right-w3" >
			<a href="index.html"><h4>分类</h4></a>
			{% GetCategroyInfo as Categroy %}
			{% for i in Categroy%}
			<a href=" {% url 'app1:fl' i.id %} "><span class="label label-info" >{{i.Title}}</span></a>
			{% endfor %}


		</div>
		<div class="clearfix"></div>
		<div class="copyright">
			<p>Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	</div>
</div>
</body>
</html>