{% extends 'base1.html' %}
{% load func %}

{% block title %}详情{% endblock %}

{% block x %}
详情
{% endblock %}



{% block body %}

<!-- breadcrumbs -->
	<div class="agileits_breadcrumbs">
		<div class="container">
			<div class="agileits_breadcrumbs_left">
				<ul>
					<li><a href="{% url 'app1:index' %}">Home</a><i>|</i></li>
					<li>Single</li>
				</ul>
			</div>
			<div class="agileits_breadcrumbs_right">
				<h3>Single</h3>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- single -->
	<div class="blog">
		<div class="container">
			<div class="col-md-7 wthree_blog_left">
				<div class="wthree_blog_left_grid">
					<div class="wthree_blog_left_grid_slider">
						<img src="/static/images/s1.jpg" alt=" " class="img-responsive"  />
					</div>
					<h4>详情</h4>
					<h3>{{good.Name}}</h3>
					<ul>
						<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">{{good.Author}}</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>{{good.ReadNum}}<i>|</i></li>
						<li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="#">{{good.Update_Time}}</a><i>|</i></li>
						<li><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>类型: {{good.Category}}</li>
					</ul>
					<p>{{good.Body}}</p>
				</div>


				<div class="agileits_reply">
					<h3>发表评论</h3>
					<form action="{% url 'app1:comment' good.id %}" method="post">
						{% csrf_token %}
						<input type="text" name="Name" placeholder="用户名" required="">
						<input type="email" name="Email" placeholder="邮箱" required="">
						<input type="text" name="Subject" placeholder="标题" required="">
						<textarea name="Message" placeholder="你想说的话" required=""></textarea>
						<input type="submit" value="发表">
					</form>
				</div>


			</div>

			<div class="col-md-5 single-page-right">
				<div class="w3ls_search">
					<form action="/search/" method="get" id="searchform">
						<input type="text" name="q" placeholder="搜索" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				<br>
				<div class="col-md-12 single-page-right">
					<div class="category blog-ctgry">
					<h2>热门游戏</h2>
						<br>
					<div class="list-group">
						{% GetHotGames 8 as Games %}
						{% for game in Games %}
						<a href="{% url 'app1:single' game.id %}" class="list-group-item">{{game.Name}}</a>
						{% endfor %}

					</div>
					</div>
				</div>
				<div class="recent-posts">
					<h2>最近的帖子</h2>
					<br>
					{% GetNewGames 3 as Games %}
					{% for game in Games %}
					<div class="recent-posts-info">
						<div class="col-md-3 single-page-right">
							<a href="single.html"> <img src="/static/media/{{game.Img}}" class="img-responsive zoom-img" alt=""> </a>
						</div>
						<div class="posts-right">
							<label>游戏名：{{game.Name}}</label>
							<br>
							<label>作者：{{game.Author}}</label>
							<p>简介：{{game.Body|Delstr:20}}...</p>
							<a href="{% url 'app1:single' game.id %}" class="btn btn-primary hvr-rectangle-in">更多</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<br>
					{% endfor %}

				</div>
				<div class="wthree_blog_left_grid">
					<h4>评论</h4>
					{% for i in a %}
					<div class="media response-info">
						<div class="col-md-3 wthree_blog_left">
							<div class="media-left response-text-left">
							<a href="#">
								<img class="media-object" src="/static/images/icon1.png" alt="">
							</a>
								<br>
							<h5><a href="#">{{i.Name}}</a></h5>
						</div></div>

						<div class="media-body response-text-right">
							<p>{{i.Message}}</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					{% empty %}
					暂无评论
					{% endfor %}

				</div>


			</div>





			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //single -->	

{% endblock %}

